<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VTFucker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <VTFucker.Properties.Settings>
            <setting name="CarmaDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastExportDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastImportDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastVTLoaded" serializeAs="String">
                <value/>
            </setting>
        </VTFucker.Properties.Settings>
    </userSettings>
</configuration>
